@import "tailwindcss";

@theme {
  --animate-prologue-text: prologue-text 0.5s ease-out forwards;

  @keyframes prologue-text {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

body {
  margin: 0;
  display: flex;
  width: 100dvw;
  height: 100dvh;
  justify-content: center;
  align-items: center;

  background-color: #F8EAD8;
  background-image: url("/src/assets/images/paper.webp");
  background-repeat: repeat;
}

#root {
  width: 100dvw;
  height: 100dvh;
  max-width: 450px;
  max-height: 915px;
}

#home-frame {
  gap: 0.25rem;
}

@media (min-height: 650px) {
  #home-frame {
    gap: 0.5rem;
  }
}

@media (min-height: 700px) {
  #home-frame {
    gap: 0.75rem;
  }
}

#home-menu-icon {
  width: 50px;
  height: 40px;
  image-rendering: pixelated;
}

@media (max-height: 649px) {
  #home-menu-icon {
    width: 45px;
    height: 36px;
  }
}

#home-menu-label {
  display: block;
}

@media (max-height: 580px) {
  #home-menu-label {
    display: none;
  }
}